.DS_Store
node_modules
.ipynb_checkpoints/
~$*.xlsx
*.inspect.ndjson
source-colab.png
source-spreadsheet.png
build_nand_workbook.mjs
Learning AND gate - Learning AND.csv
Bohyeon Jang CS361 Homework 2.docx.pdf
09_CS361_Homework2_Report.pdf
Screenshot *.png
part2summary.png
`*.ipynb
